<!--banner start-->
  <section class="block-preview">
    <div class="cover-banner" style="background-image: url(https://images3.alphacoders.com/922/922680.jpg)"></div>
    <div class="container">
      <div class="row"> 
        <div class="col-lg-8 col-md-6 col-sm-12">
          <div class="left-text-b">
            <h1 class="title">Choose, Order and Checkout</h1>
            <h6 class="exeption">Specify your address to suggest you the fast delivery</h6>
            <p>Get our services from 24 hours.</p>
            <a class="bnr-btn btn-link" href="#">Go To Meal</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <form>
            <div class="form-box">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
              </div>
              <input  class="find-address skills" name="search" type="text" placeholder="Choose your location"/>
              <div class="input-group-prepend">
                <div class="input-group-text-1"><i class="fas fa-utensils"></i></div>
              </div>
              <input  class="find-resto skills" name="search" type="text" placeholder="Choose restaurant"/>
              <button class="search-btn btn-link" type="button">Find Food</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
  <!--banner end-->
  <!--browse-places start-->
	<section class="browse-places">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="browse-heading">
						<h6> Browse Places </h6>
					</div>
				</div>
			</div>
			<div class="row">				
				<div class="col-lg-12 col-md-12">
					<div class="owl-carousel browse-owl owl-theme">
						<div class="item">
							<div class="places">
								<a href="places_nearby.html">
									<div class="b-icon">
										<img alt="avatar" src="/assets/icon-1.svg" class="avatar">
									</div>
									<div class="b-text">
										Near by
									</div>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="places">
								<a href="places_cafes.html">
									<div class="b-icon">
										<img src="images/homepage/browse_places/02.svg" alt="">
									</div>
									<div class="b-text">
										Cafes & More
									</div>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="places">
								<a href="places_cafes.html">
									<div class="b-icon">
										<img src="images/homepage/browse_places/03.svg" alt="">
									</div>
									<div class="b-text">
										Drinks & Nightkise
									</div>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="places">
								<a href="places_cafes.html">
									<div class="b-icon">
										<img src="images/homepage/browse_places/04.svg" alt="">
									</div>
									<div class="b-text">
										Desserts & Bakes
									</div>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="places">
								<a href="upcoming_events.html">
									<div class="b-icon">
										<img src="images/homepage/browse_places/05.svg" alt="">
									</div>
									<div class="b-text">
										Upcoming Events
									</div>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="places">
								<a href="places_cafes.html">
									<div class="b-icon">
									<img src="images/homepage/browse_places/06.svg" alt="">
									</div>
									<div class="b-text">
									Newly Opened
									</div>
								</a>
							</div>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--browse-places end-->	
    <!--browse-places end-->  
  <!--how-to-work start-->
  <section class="how-to-work">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="work-item">
            <div class="work-img">
              <%= image_tag("icon3.png")%>
            </div>
            <div class="work-text">
              <h4>Choose Your Area Restaurant</h4>
              <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
            </div>
          </div>
        </div><div class="col-md-4 col-sm-12 col-xs-12">
          <div class="work-item">
            <div class="work-img">
              <%= image_tag("icon4.png")%>
            </div>
            <div class="work-text">
              <h4>Choose Food</h4>
              <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="work-item">
            <div class="work-img">
              <%= image_tag("icon5.png")%>
            </div>
            <div class="work-text">
              <h4>Delivery</h4>
              <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--discover-new-restaurants-&-book-now start-->
	<section class="new-restaurants-book-now">		
		<div class="container">
			<Div class="row">
				<div class="col-md-12">
					<div class="new-heading">
						<h1> Discover New Restaurants & Book Now </h1>
					</div>
				</div>
			</div>
			<div class="row">				
				<div class="col-md-12">						
					<div class="new-resto">
						<div class="large-12 columns">
							 <div class="owl-carousel dis-owl owl-theme">																																		
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_1.jpg" alt=""></a></div>														
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_2.jpg" alt=""></a></div>							
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_3.jpg" alt=""></a></div>	
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_4.jpg" alt=""></a></div>							
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_5.jpg" alt=""></a></div>							
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_1.jpg" alt=""></a></div>															
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_2.jpg" alt=""></a></div>															
								<div class="item"><a href="#"><img src="images/homepage/resto-book/img_3.jpg" alt=""></a></div>																						
							</div>         
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--discover-new-restaurants-&-book-now end-->	