.payment-online{
    list-style-type: none;
    display: inline;
}
.alert-info{
    padding: 9px;
    margin-top: 1em;
    width: 26em;
  }
.btn-danger{
    height: 3em;
    width: 19em;
  }
.payment-coin{
  border: 1px solid #d4d4d4;
  height: 7em;
  width: 51em;
  max-height: 8em;
}
.display-payment{
    border: 1px solid #d4d4d4;
    height: 24em;
    width: 51em;
    max-height: 25em;
  }
  .information-user{
    border: 1.5px solid #d4d4d4;
    margin-bottom: 17px;
    padding: 1em;
  }
  .order-sumary{
    border: 1px solid #d4d4d4;
    margin-bottom: 17px;
    padding: 1em;
  }
  .information{
    margin-top: 37px !important; 
  }