<section class="title-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="left-title-text">
					<h3>My Account</h3>
					</div>
				</div>
				<div class="col-md-6">
					<div class="right-title-text">  
						<ul>
							<li class="breadcrumb-item">
								<%=link_to "Home", root_path %>
							</li>
							<li class="breadcrumb-item active" aria-current="page">My Account</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="all-profile-details">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="left-tab-links">
						<div class="nav nav-pills nav-stacked nav-tabs ui vertical menu fluid">
							<a href="#timeline"  data-toggle="tab" class="item user-tab cursor-pointer active">Timeline</a>
							<a href="#about" data-toggle="tab" class="item user-tab cursor-pointer">About</a>						
							<a href="#my-orders" data-toggle="tab" class="item user-tab cursor-pointer">My Orders</a>
							<a href="#order-history" data-toggle="tab" class="item user-tab cursor-pointer">Order History</a>																																		
						</div>						
					</div>				
				</div>
				<div class="col-lg-9">
					<div class="tab-content">
						<div class="tab-pane active" id="timeline">
							<div class="timeline">
								<div class="tab-content-heading">
									<h4>Timeline</h4>
								</div>
							</div>							
						</div>
						<div class="tab-pane" id="about">
							<div class="profile-about">
								<div class="tab-content-heading">
									<h4>About</h4>
									<a href="setting.html"><i class="far fa-edit"></i>Edit Info</a>
								</div>
								<div class="about-dtp">
									<div class="about-bg">
										<ul>
											<li>
												<div class="dp-detail">
													<h6>Ful Name</h6>
													<p>John Doe</p>
												</div>
											</li>
											<li>
												<div class="dp-detail">
													<h6>Location</h6>
													<p>Hill District, Sydney, Australia</p>
												</div>
											</li>
											<li>
												<div class="dp-detail">
													<h6>Mobile Number</h6>
													<p>+ 2 987 654 3210</p>
												</div>
											</li>
											<li>
												<div class="dp-detail">
													<h6>Email Address</h6>
													<p>Johndoe@gmail.com</p>
												</div>
											</li>
											<li>
												<div class="dp-detail">
													<h6>Social Accounts</h6>
													<div class="my-social-links">
														<a href="#" class="socail-btn-link f-btn"><i class="fab fa-facebook-f"></i></a>
														<a href="#" class="socail-btn-link t-btn"><i class="fab fa-twitter"></i></a>
														<a href="#" class="socail-btn-link g-btn"><i class="fab fa-google"></i></a>
														<a href="#" class="socail-btn-link i-btn"><i class="fab fa-instagram"></i></a>
														<a href="#" class="socail-btn-link y-btn"><i class="fab fa-youtube"></i></a>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>					
						<div class="tab-pane" id="my-orders">
							<div class="profile-about">
								<div class="tab-content-heading">
									<h4>My Orders</h4>
								</div>
								<div class="my-orders">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-12">
											<div class="my-checkout">
												<div class="table-responsive">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="order-history">
							<div class="profile-about">
								<div class="tab-content-heading">
									<h4> Order History </h4>
								</div>
								<div class="my-orders">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-12">
											<div class="my-checkout">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th>Code Order</th>
																<th>Created Day</th>
																<th>Product</th>
																<th>Total Price</th>
																<th> Status </th>
															</tr>
														</thead>
														<tbody>
															<% @orders.each do |order|%>
																<tr>
																	<td><%= order.id %></td>
																	<td><%= order.created_at%></td>
																	<% binding.pry%>
																	<td><%= order.cart.products.name%></td>
																</tr>
															<% end %>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</section>