<div class="col-lg-3 col-md-4">
  <div class="filters partner-bottom">
    <div class="filter-heading">
      <h3>Filters</h3>
    </div>
    <div class="accordion" id="accordionone">
      <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Products</button>
        <div id="collapseOne" class="collapse show" data-parent="#accordionone">
          <div class="search-area">
            <form>
              <input class="search-area-input" name="search" type="text" placeholder="Search prodcut">
              <div class="icon-btn">
                <div class="cross-area-icon">
                  <i class="fas fa-crosshairs"></i>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordiontwo">
      <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Categories</button>
          <div id="collapseTwo" class="collapse" data-parent="#accordiontwo">
            <div class="filter-checkbox">
              <% @categories.each do |category|%>
                <p>
                  <label><%= category.name %></label>
                </p>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionsix">
      <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Rating</button>
        <div id="collapseSix" class="collapse" data-parent="#accordionsix">
          <div class="filter-checkbox">
            <p>
              <input type="checkbox" id="c47" name="cb">
              <label for="c47" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
            </p>
            <p>
              <input type="checkbox" id="c48" name="cb">
              <label for="c48" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
            </p>
            <p>
              <input type="checkbox" id="c49" name="cb">
              <label for="c49" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
            </p>
            <p>
              <input type="checkbox" id="c50" name="cb">
              <label for="c50" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
            </p>
            <p>
              <input type="checkbox" id="c51" name="cb">
              <label for="c51" class="rating-color"><i class="fas fa-star"></i></label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>