<h2>You got to buy success !</h2>
<p> Click here to watch order history detail <%=link_to "Here", user_path(current_user.id)%> </p>
<%= link_to "delete", @order , method: :delete, class:"btn btn-warning", data: { confirm: "You sure?" } %>