#admin{
  .background{
    background-color: #fff !important;
  }
  .change{
    color: #464646 !important;
  }
  .logo{
    color: black !important;
  }
  .fix{
    background-color:#ffc800 !important;
  }
  .has-treeview:hover{
    background-color:#ffc800 !important;
  }
}