<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @order.user.name %></h3>
    <p>You got a new order</p>
    <p> ORDER DETAIL</p>
    <p>Your code order: <%= @order.order_code%><p>
  </body>
</html>