.view-for-user{
  .mega-menu { 
  width:800px;
  overflow:hidden;
  padding:0px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
      right: 0;
      left: -470px;
  }
  .logo{
    width: 4em;
  }
  .nav-item .dropdown-menu .row .col-md-3 .dropdown-item{
    font-size: 13px;
  }
  .menu-right{
    background-color: white !important;
  }
  .block-preview{
    height: 30em;
  }
  .container .row .col-lg-4{
    margin-top: 4%;
  }
  .items{
    margin-top: 1em;
  }
  .carousel{
    width: 2em; 
  }
  .all-meal{
    height: 22em;
    width: 17em;
  }
  .partner-bottom{
    width: 16em;
  }
  .carousel-icon{
    width: 2em;
  }
  .carousel{
    width: 50em;
  }
  .logo-img img{
    width: 58% !important;
  }
  .fix-size-for-carousel{
    width: 49em;
  }
  .fix-size-category{
    width: 4em;
  }
  .right-side{
    margin-left: 2em !important;
    margin-top: -50px !important;
  }
  .table-hover tbody img{
    width: 60px;
  }
  .quantity{
    width: 63px !important;
  }
  .information-user{
    border: 1.5px solid #d4d4d4;
    margin-bottom: 17px;
  }
  .tital{
    padding: 20px;
  }
  .public-1{
    margin: 4px;
  }
  .order-sumary{
    border: 1px solid #d4d4d4;
    margin-bottom: 17px;
  }
  .cart{
    padding: 20px;
  }
  .cart .public{
    padding: 17px;
  }
  .col-md-9 b{
    font-size: 13px;
  }
  .col-md-3 p{
    text-align: center;
    font-size: 13px;
  }
  .display-payment{
    border: 1px solid #d4d4d4;
    height: 18em;
    width: 54em;
    max-height: 20em;
  }
  .position-static{
    transform: scale(1.5);
    margin: 18px;
    margin-right: 4px;
  }
  .atm{
    display: none;
  }
  .payment-online{
    list-style-type: none;
  }
  .alert-info{
    padding: 9px;
    margin-top: 1em;
    width: 26em;
  }
  .btn-danger{
    height: 3em;
    width: 19em;
  }
  footer{
    margin-top: 2em;
  }
}