.view-for-user{
  .mega-menu { 
  width:800px;
  overflow:hidden;
  padding:0px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
      right: 0;
      left: -470px;
  }
  .logo{
    width: 4em;
  }
  .nav-item .dropdown-menu .row .col-md-3 .dropdown-item{
    font-size: 13px;
  }
  .menu-right{
    background-color: white !important;
  }
  .block-preview{
    height: 30em;
  }
  .container .row .col-lg-4{
    margin-top: 4%;
  }
  .items{
    margin-top: 1em;
  }
  .carousel{
    width: 2em; 
  }
  .all-meal{
    height: 22em;
    width: 17em;
  }
  .partner-bottom{
    width: 16em;
  }
  .carousel-icon{
    width: 2em;
  }
  .carousel{
    width: 50em;
  }
  .logo-img img{
    width: 58% !important;
  }
  .fix-size-for-carousel{
    width: 49em;
  }
  .fix-size-category{
    width: 4em;
  }
  .right-side{
    margin-left: 2em !important;
    margin-top: -50px !important;
  }
  footer{
    margin-top: 2em;
  }
}