  <%= link_to carts_path do %>
    <i class="fas fa-shopping-cart"></i>
    Food Orders 
    <span class="badge badge-pill badge-warning">
    </span>
  <% end %>
  <%= link_to "#{current_cart.cart_items.size}", carts_path%>
