<section class="all-partners">
  <div class="container">
    <div class="row">
      <%=render 'shared/filters'%>
      <div class="col-lg-9 col-md-8">
        <div class="col-lg-12 col-md-12 m-left m-right">
          <div class="all-meals-show">
            <div class="new-heading">
              <h1> All Meals </h1>
              <div class="loc-title">
                Meals In Your Area
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <% @products.each do |product|%>
            <%= render 'product', product: product %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>